@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.nav {
  width: 100%;
  height: 100px;
  position: fixed;
  font-family: "Rubik", sans-serif; /* Ensure font-family is set correctly */
  color: white !important;
  z-index: 99;
  scroll-behavior: smooth !important;
  background-color: rgba(
    11,
    30,
    57,
    0.8
  ); /* Optional: semi-transparent background */
}

.container {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none; /* Initially hide burger menu */
}

.logo {
  width: 100px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navigationP {
  margin: 0; /* Ensure margin is reset */
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  transition: transform 0.25s ease-out; /* Changed to only animate transform */
}

.navigationButton {
  cursor: pointer;
  transition: transform 0.25s ease-out; /* Changed to only animate transform */
  background: #cba672;
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 25px;
  font-size: 17px;
  color: white;
}

.navigationP:hover,
.navigationButton:hover {
  transform: translateY(-5px);
}

// Drawer Styles
.drawerWidth {
  width: 400px !important;
}

.drawer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 50px;
}

.DrawerNavigationP {
  margin: 0; /* Ensure margin is reset */
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  transition: transform 0.25s ease-out; /* Changed to only animate transform */
}

.DrawerNavigationButton {
  cursor: pointer;
  transition: transform 0.25s ease-out; /* Changed to only animate transform */
  background: rgba(202, 168, 146, 1);
  border-radius: 25px; /* Combined corner radii */
  color: white;
  height: 3em;
  width: 8em;
  border: none;
  font-size: 20px;
}

.DrawerNavigationP:hover,
.DrawerNavigationButton:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 1050px) {
  .navigationP,
  .navigationButton {
    display: none; /* Hide nav items on smaller screens */
  }

  .burger {
    display: block !important; /* Show burger icon on smaller screens */
  }
}

@media only screen and (max-width: 550px) {
  .drawerWidth {
    width: 100% !important; /* Full width drawer on very small screens */
  }

  .DrawerNavigationP {
    font-size: 18px;
  }

  .DrawerNavigationButton {
    font-size: 18px;
  }
}
