@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #0b1e39;
}

.section {
  width: 100%;
  padding: 150px 0;
}

.container {
  width: 85%;
  margin: auto;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

.cardContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}
