@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #0b1e39;
}

.section{
  width: 100%;
  padding: 150px 0;
}

.container{
  width: 85%;
  margin: auto;
}