@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.aboutSection {
  background-color: #0b1e39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 100vw; /* Full width of the viewport */
  min-height: 100vh; /* Full height of the viewport */
  padding: 20px;
  padding-top: 100px;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1200px;
  color: #fff;
}

.imageContainer {
  width: 50%;
}

.image {
  width: 100%;
  object-fit: contain;
}

.textContainer {
  width: 45%;
  text-align: left;
}

.aboutTitle {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}

.aboutText {
  font-size: 16px;
  color: #b0bec5;
  line-height: 1.8;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}

.readMoreButton {
  background-color: #ff4b4b;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.readMoreButton:hover {
  background-color: #e43e3e;
}

.Carousel {
  width: 100%;
  padding-top: 40px; /* Adds space between About section and Carousel */
  background-color: #0b1e39;
}

.slider {
  width: 80%;
  margin: auto;
  height: 250px;
  display: flex !important;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  img {
    width: 230px;
    height: auto;
    margin: 0 auto;
  }
}

// Responsive adjustments
@media only screen and (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
  }

  .imageContainer,
  .textContainer {
    width: 100%;
  }

  .aboutTitle {
    font-size: 28px;
  }

  .aboutText {
    font-size: 14px;
  }

  .readMoreButton {
    font-size: 14px;
  }

  .slider {
    height: 100px;
  }

  img {
    width: 100px;
  }
}
